{% extends 'base.html' %} 
{% block title %}labtracker | Log In{% endblock %}
{% block h1_title %}<h1>Log In</h1>{% endblock %}

{% block content %}
	<form action="/labtracker/login/" method="post" id="login_form">
		{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}

		<label for="username">Username</label>
		<input type="text" name="username" value="{{ username}}" tabindex="1" /><br />

		<label for="password">Password</label>
		<input type="password" name="password" value="" tabindex="2" /><br />

		<input type="submit" value="Log In" class="submit" tabindex="3" />
	</form>
{% endblock %}