<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{% block title %}labtracker{% endblock %}</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link href="/static/favicon.ico" rel="shortcut icon" />
	{% block meta %}{% endblock %}
</head>
<body>

<div id="wrap">

<div id="header">
	<div id="logo"></div>
	<div id="topnav">
		
		{% if not user.is_authenticated %}
			<a href="/labtracker/login/">Log in</a>
		{% endif %}

		{% if user.is_authenticated %}
			<a href="/labtracker/logout/">Logout</a>
		{% endif %}

		{% if user.is_superuser and user.is_authenticated %}
			<a href="/admin/">Administration</a>
		{% endif %}	

		<a href="/labtracker/">Home</a>

		
	</div>
</div>

<div id="container">
	<div id="message">
		labtracker is an online tool for keeping track of lab equipment and use
	</div>
	<div id="content">
        {% block content %}

        {% endblock %}
	</div>
</div>

</div>

</body>
</html>