<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{% block title %}labtracker{% endblock %}</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link href="/static/favicon.ico" rel="shortcut icon" />
	{% block meta %}{% endblock %}
</head>
<body>

<div class="wrap">

<div class="header">
	<div class="logo"></div>
	<div class="topnav">
		{% if not user.is_authenticated %}
			<a href="/login/">Log in</a>
		{% endif %}	
		{% if user.is_authenticated %}
			<a href="/logout/">Logout</a>
		{% endif %}
		{% if user.is_authenticated and not user.is_superuser %}
			<a href="/requests/">My Requests</a>
		{% endif %}
		{% if user.is_superuser and user.is_authenticated %}
			<a href="/reports/">Reports</a>
			<a href="/requests_admin/">View Requests</a>
			<a href="/admin/">Administration</a>
		{% endif %}	
		<a href="/">Home</a>
	</div>
</div>

<div class="container">
	<div class="notifications">
		{% if user.is_authenticated and not user.is_superuser %}
			{% if unread_number == 1 %}
				Hello, <span class="username">{{ user.username }}</span>. 
				You have <a href="/requests/">1 updated</a> request.
			{% elif unread_number > 1 %}
				Hello, <span class="username">{{ user.username }}</span>. 
				You have <a href="/requests/">{{ unread_number }} updated</a> requests.
			{% else %}
				Hello, <span class="username">{{ user.username }}</span>. 
				You have no updated requests.
			{% endif %}
		
		{% elif user.is_authenticated and user.is_superuser %}
			{% if open_requests_number == 1 %}
				Hello, <span class="username">{{ user.username }}</span>. 
				There is <a href="/requests_admin/">1 open</a> request.
			{% elif open_requests_number > 1 %}
				Hello, <span class="username">{{ user.username }}</span>. 
				There are <a href="/requests_admin/">{{ open_requests_number }} 
				open</a> requests.
			{% else %}
				Hello, <span class="username">{{ user.username }}</span>. 
				There are no open requests.
			{% endif %}

		{% else %}
			labtracker is an online tool for keeping track of lab equipment and use
		{% endif %}	
	</div>
	<div class="content">
		{% block h1_title %}{% endblock %}
		
		{% if error_message %}
			<div class="error_message">{{ error_message }}</div>
		{% endif %}
		{% if success_message %}
			<div class="success_message">{{ success_message }}</div>
		{% endif %}
		{% if message %}
			<div class="message">{{ message }}</div>
		{% endif %}

        {% block content %}
        {% endblock %}
	</div>
</div>

</div>

</body>
</html>
