{% extends 'base.html' %} 
{% block title %}labtracker | {{ item.name }}{% endblock %}

{% block content %}

<h2>{{ item.name }}</h2>

{% if user.is_authenticated %}
<strong>Request</strong>
<form action="/labtracker/item/{{ item.id }}/request/" method="post">
{% csrf_token %}
	<label for="notes">Notes</label><br />
	<textarea name="notes" id="notes"></textarea>
	
	<br />
	<input type="submit" value="Request" />
</form>
{% else %}
You need to be logged in to submit requests.
{% endif %}

<strong>Downloads</strong>
<ul>
{% for download in item.download_set.all %}
    <li>{{ download.name }}</li>
{% endfor %}
</ul>

<strong>All Requests</strong>
<ul>
{% for request in item.request_set.all %}
    <li>{{ request }}</li>
{% endfor %}
</ul>

{% endblock %}