{% extends 'base.html' %} 
{% block title %}labtracker | Home{% endblock %}

{% block content %}
{% if item_list %}
	<div class="pagination top_pag">
		{% include 'pagination.html' %}
	</div>

	<table id="equipment_list" summary="Equipment List">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="class">Class</th>
			<th scope="col">Location</th>
			<th scope="col">Item</th>
			<th scope="col">CFI</th>
			<th scope="col">Company</th>
			<th scope="col">Part Num</th>
		</tr>
	</thead>
	<tbody>
	{% for item in item_list %}
		<tr>
			<td>{{ item.local_num }}</td>
			<td>{{ item.part_class }}</td>
			<td>{{ item.location }}</td>
			<td><a href="/item/{{ item.id }}/">{{ item.description }}</a></td>
			<td>{{ item.cfi }}</td>
			<td>{{ item.company }}</td>
			<td>{{ item.part_num }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

	<div class="pagination bottom_pag">
		{% include 'pagination.html' %}
	</div>

{% else %}
	<p>No items are available.</p>
{% endif %}

{% endblock %}
