{% extends 'base.html' %} 
{% block title %}labtracker | My Requests{% endblock %}
{% block h1_title %}<h1>My Requests</h1>{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	{% if request_list %}
		<table id="equipment_list" summary="Equipment List">
		<thead>
			<tr>
				<th scope="col">Item</th>
				<th scope="col">Approval Status</th>
				<th scope="col">Date Submitted</th>
				<th scope="col">Date Updated</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
		{% for req in request_list %}
			{% if req.is_inactive %}
				<tr class="inactive">
			{% else %}
				<tr>
			{% endif %}
					<td>{{ req.item.description }}</td>
					<td>{{ req.status }}</td>
					<td>{{ req.date_submitted }}</td>
					<td>{{ req.date_updated}}</td>
					<td><a href="/request/{{ req.id }}/">View Details</a></td>
				</tr>
		{% endfor %}
		</tbody>
		</table>

	{% else %}
		<p>You have not placed any requests.</p>
	{% endif %}

{% else %}
	<p>You must be logged in to view this page.</p>
{% endif %}

{% endblock %}
