{% extends 'base.html' %} 
{% block title %}labtracker | {{ req }}{% endblock %}
{% block h1_title %}<h1>{{ req }}</h1>{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	<h2>Request Details</h2>
	<p>
		<strong>User:</strong> {{req.user.username}}<br />
		<strong>Item:</strong> <a href="{{ req.item.get_absolute_url }}">{{ req.item.description }}</a><br />
		<strong>Date Submitted:</strong> {{req.date_submitted}}<br />
		<strong>Last Updated:</strong> {{req.date_updated}}<br />
		{% if req.date_approved %}
			<strong>Date Approved:</strong> {{req.date_approved}}<br />
		{% endif %}
		{% if req.date_declined %}
			<strong>Date Declined:</strong> {{req.date_declined}}<br />
		{% endif %}
		{% if req.date_active %}
			<strong>Date Active:</strong> {{req.date_active}}<br />
		{% endif %}
		{% if req.date_completed %}
			<strong>Date Completed:</strong> {{req.date_completed}}<br />
		{% endif %}
	</p>
	{% if req.notes %}
		<br />
		<p>
			<strong>Request Notes:</strong>
		</p>
		<blockquote>{{req.notes}}</blockquote>
	{% endif %}

	{% if req_list %}	
		<p class="notif">Please note this item is currently in use by:
			{% for req in req_list %}
				<span class ="username">{{ req.user.username }}</span>
			{% endfor %}
		</p>
	{% endif %}

	{% if user.is_staff %}
		<h2>Change Status</h2>	
		<form action="{{ req.get_modify_url }}" method="post">
			{% csrf_token %}
			<select name="choice" id="choice_id" onchange="javascript: submit(this);">
				{% for key,val in req.STATUS_CHOICES %}
					{% if key != req.status %}
						<option value="{{key}}">{{val}}</option>
					{% else %}
						<option class="selected" value="{{key}}" selected="selected">{{val}}</option>
					{% endif %}	
				{% endfor %}
			</select>	
		</form>
	{% endif %}	

	<h2>Comments</h2>
	{% if comment_list %}
		{% for comment in comment_list %}
			<blockquote>
				<small><span class="username">{{comment.user.username}}</span> posted on 
				{{comment.date_submitted}}</small>
				{{comment.content}}	
			</blockquote>
		{% endfor %}
	{% endif %}

	<form action="{{ req.get_post_comment_url }}" method="post">
		{% csrf_token %}
		<label for="comment">Post a comment</label><br />
		<textarea name="comment" id="comment" cols="100" rows="5"></textarea>
		<br />
		<input type="submit" value="Post comment" />
	</form>

{% else %}
	<p>You need to be logged in to view this page.</p>
{% endif %}

{% endblock %}
