{% extends 'base.html' %} 
{% block title %}labtracker | {{ req }}{% endblock %}
{% block h1_title %}<h1>{{ req }}</h1>{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	<h2>Details:</h2>
	
	<div>
		<p>
			<strong>User:</strong> {{req.user.username}}<br />
			<strong>Date Submitted:</strong> {{req.date_submitted}}<br />
			<strong>Last Status Update:</strong> {{req.date_updated}}<br />
			{%if req.date_approved %} <strong>Date Approved:</strong> {{req.date_approved}}<br />{%endif%}
			{%if req.date_declined %} <strong>Date Declined:</strong> {{req.date_declined}}<br />{%endif%}
			{%if req.date_active %} <strong>Date Active:</strong> {{req.date_active}}<br />{%endif%}
			{%if req.date_completed %} <strong>Date Completed:</strong> {{req.date_completed}}<br />{%endif%}
			<strong>Notes:</strong> {{req.notes}}
		</p>
	</div>

	{% if user.is_authenticated and user.is_superuser %}
	<h2>Change Status:</h2>
	<div>
		<p>Coming soon..</p>
	</div>
	{% endif %}

	<h2>Comments:</h2>
	<div>
		<p>To do..</p>
	</div>

{% else %}
	<p>You need to be logged in to view this page.</p>
{% endif %}

{% endblock %}