/* General Layout */

* {
    border: none;
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

body {
    background: #474747 url('bg.jpg') top left repeat; 
    color: #5f5e5e; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 40px;
    min-width: 620px;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
}

h2 {
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 5px;
    margin-bottom: 16px;
    border-bottom: 1px solid #d5d5d5;
    color: #888;
}

a, a:link, a:visited, a:active, a:hover, a:focus {
    color: #1d88e5;
    text-decoration:none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.username {
    color: #1d88e5;
}

.notif {
    color: #FF0000;
}

.clear { 
    clear: both;
}

p { 
    padding-bottom: 10px;
}

.wrap {
    background: url('bg_top.jpg') top left repeat-x; 
}

.header {
    margin: 0 40px;
    height: 67px;
}

.logo {
    width: 186px;
    height: 67px;
    display: block;
    float: left;
    background: url('logo.jpg') top left no-repeat;
}

.topnav {
    width: 350px;
    height: 41px;
    padding-top: 26px;
    display: block;
    float: right;
}

.topnav a, .topnav a:link, .topnav a:visited, 
.topnav a:active, .topnav a:hover {
    margin-right: 20px;
    color: #aaa;
    float: right;
    text-shadow: 0 1px 0 #000;
}

.topnav a:hover {
    color: #E8E8E8;
    text-decoration: none;
}

.container {
    margin: 0 40px;
    background: #f7f7f7;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.notifications {
    padding: 16px 20px 20px 20px;
    background: url('notifications.gif') top left repeat-x;
    height: 17px;
    text-shadow: 0 1px 0 #eee;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}

.content {
    padding: 20px;
}

/* Data display via tables */

table {
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: bold;
    background: #84bffb url('thead.gif') top repeat-x;
    border-top: 4px solid #5ea0d9;
    color: #384a58;
    padding: 6px;
    text-shadow: 0 1px 0 #bedfff;
}

td { 
    border-bottom: 1px solid #ddd;
    border-top: 1px solid transparent;
    padding: 6px;
}

tr:hover td { 
    background: #e7eff7;
    color: #313131;
}

tr.inactive td {
    color: #bbb;
}

tr.inactive:hover td {
    color: #999;
}

/* list-based info */

ul {
    padding: 0 20px 10px 20px;
}

/* div-based info */

.download {
    background: #e7eff7;
    border: 1px solid #ADC4DB;
    padding: 10px;
    margin-bottom: 20px;
}

/* messages */

.error_message {
    background: #F07382;
    border: 1px solid #B83040;
    padding: 10px;
    color: #fff;
}

.success_message {
    background: #73F08C;
    border: 1px solid #30B849;
    padding: 10px;
    color: #383838;
}

/* forms */

input, textarea, select {
    margin: 10px 0;
    padding: 4px 6px;
    border: 1px solid #d5d5d5;
    background: #fff;
    font-size: 10pt;
    color: #555555;
}

textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type="text"], input[type="password"], textarea {
    color: #999999;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    color: #555555;
}

option.selected {
    font-weight: bold;
}

.login_form label {
    display: block;
    width: 80px;
    float: left;
    clear: both;
    padding: 10px 0 0 0;
}

/* blockquotes for displaying comments */

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #d5d5d5;
    font-weight: 300;
    line-height: 1.25;
}

blockquote small {
    display: block;
    line-height: 20px;
    color: #999999;
}

/* pagination */

.pagination {
    margin-bottom: 20px;
    font-size: 12px;
}

.bottom_pag {
    padding: 20px 0 0 0;
    margin: 0
}

.pagination ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    *display: inline;
}

.pagination li {
    display: inline;
}

.pagination a,
.pagination span {
    float: left;
    padding: 2px 8px;
    line-height: 18px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 0 4px 0 0;
}

.pagination a:hover,
.pagination a:focus,
.pagination .active a,
.pagination .active span {
    background-color: #f5f5f5;
}

.pagination .active a,
.pagination .active span {
    color: #999999;
    cursor: default;
}

.pagination span {
    color: #999999;
}
